# Logs
logs
*.log
npm-debug.log*

# Dependências do Node.js
node_modules/
*.local

# Build e distribuição
dist/
build/
coverage/

# Lockfiles
package-lock.json
yarn.lock
pnpm-lock.yaml

# Cache
.cache/
.parcel-cache/

# Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ambiente
.env
.env.local
.env.development
.env.production

# Husky
.husky/